<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="7.0.0-alpha0106" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit" version="4.6.0" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit.Fixed" version="3.5.1.2" targetFramework="net48" />
  <package id="MahApps.Metro" version="3.0.0-alpha0492" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.BootstrapIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.BoxIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.CircumIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Codicons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Coolicons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Core" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Entypo" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.EvaIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.FeatherIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.FileIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Fontaudio" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.FontAwesome" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Fontisto" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.ForkAwesome" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.GameIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Ionicons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.JamIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Lucide" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Material" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.MaterialDesign" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.MaterialLight" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.MemoryIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Microns" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Modern" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Octicons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.PhosphorIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.PicolIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.PixelartIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.RadixIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.RemixIcon" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.RPGAwesome" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.SimpleIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Typicons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Unicons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.VaadinIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.WeatherIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Zondicons" version="5.0.0" targetFramework="net48" />
  <package id="MaterialDesignColors" version="3.1.0-ci666" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="5.0.1-ci666" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.0-preview.5.24306.7" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="17.10.191" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="17.10.40152" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.Data" version="17.10.191" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="17.10.191" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.UI" version="17.10.191" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="17.10.191" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading" version="17.10.48" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="17.10.48" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Validation" version="17.8.8" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.122" targetFramework="net48" />
  <package id="MyToolkit" version="2.5.16" targetFramework="net48" />
  <package id="MyToolkit.Extended" version="2.5.16" targetFramework="net48" />
  <package id="NAudio" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Asio" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Core" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Midi" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Wasapi" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.WinForms" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.WinMM" version="2.2.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="9.0.0-preview.5.24306.7" targetFramework="net48" />
  <package id="System.ComponentModel.Composition" version="9.0.0-preview.5.24306.7" targetFramework="net48" />
  <package id="System.Drawing.Common" version="9.0.0-preview.5.24306.5" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>